.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

/vendor/
/theme/
uploads/banners/*
!uploads/banners/index.html
uploads/heads/*
!uploads/heads/index.html
uploads/events/*
!uploads/events/index.html
uploads/news/*
!uploads/news/index.html
uploads/staff/*
!uploads/staff/index.html
uploads/gallery/*
!uploads/gallery/index.html