@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
font-family: 'Poppins', sans-serif;


/*-----Header_Up_CSS_Start-----*/


/*.header_up {
    float: left;
    width: 100%;
    padding: 5px 0px 5px 0px;
    background: url('../img/bg-5.jpg');
    background-size: contain;
}*/

:root {
    --blue: #1e90ff;
    --white: #ffffff;
}

.header_up {
    float: left;
    width: 100%;
    padding: 5px 0px 5px 0px;
    background: #f1f1f1;
}

.header_up_main {
    float: left;
    width: 100%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.header_up_left {
    float: left;
    width: 100%;
    margin-top: 2px;
}

.logo img {
    max-width: 100%;
    /*margin: auto;
    display: table;*/
}

.mahila_conte {
    float: left;
    width: 100%;
    margin-top: 25px;
}

.committee_members {
    float: left;
    width: 100%;
    background-image: url('../images/committee.jpg');
    background-size: cover;
    padding: 4px;
}

.committee_members h5 {
    color: #ffffff;
    text-align: center;
    padding-top: 4px;
    font-family: 'Poppins', sans-serif;
}

.committee_member {
    float: left;
    width: 100%;
    margin-top: 11px;
    border: 1px solid #ad1311;
}

.texture.heading-texture img {
    max-width: 60%;
    margin: auto;
    display: table;
    padding-top: 19px;
}

.committee_h6 {
    padding-top: 12px;
    text-align: center;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
}

.mahila_conte h3 {
    font-size: 23px;
    font-family: 'Poppins', sans-serif; sans-serif;
    color: #353f9d;
}

.header_up_right {
    float: right;
    width: 100%;
    margin-top: 21px;
}

.header_up_ul li {
    list-style: none;
    margin-right: 28px;
    float: left;
}

.header_up_a {
    color: #4e5054;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; sans-serif;
    font-size: 17px;
}

.header_up_a:hover {
    color: #353f9d;
    text-decoration: none;
}

.contact_head {
    float: left;
    width: 100%;
    text-align: center;
}


/*-----Header_Up_CSS_End-----*/


/*-----Header_Middle_CSS_End-----*/

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding: 5px 9px 5px 9px;
}

.nav-link:hover {
    border-radius: 5px;
    background: #ffd400;
    color: #000 !important;
}

.hover_nav:hover {
    border-radius: 5px;
    background: #ac110f !important;
    color: #000 !important;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    border-radius: 5px;
    background: #ffd400;
    color: #000 !important;
}


/*.header_middle_section {
    float: left;
    width: 100%;
    background: #353f9d;
}*/

.header_middle_section {
    float: left;
    padding: 5px 5px;
    width: 100%;
    background-image: url(../images/menubg.jpg);
    background-size: cover;
}

.navbar.navbar-expand-lg.navbar-light {
    padding: 4px;
}

.navbar-nav li {
    margin-right: 25px;
}

.buttn_header {
    background: #353f9d !important;
    padding: 5px 10px;
    color: #ffffff;
    border-color: #353f9d;
}

.small_font {
    font-size: 15px;
}


/*.navbar-nav{
	margin: auto;
}*/

.header_phone {
    font-size: 20px;
    color: #353f9d;
}

.header_up_ul {
    /*padding-top: 27px;*/
}


/*-----Header_Middle_CSS_End-----*/


/*-----Derector_Content_CSS_Start-----*/

.img_der {
    max-width: 100%;
    margin: auto;
    display: table;
    border: 2px solid #353f9d;
}

.content {
    float: left;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.content_main {
    float: left;
    width: 100%;
    margin: auto;
    background: #ffffff;
    border-radius: 20px;
}

.content_left {
    float: left;
    width: 100%;
    /*padding:0;*/
}

.content_right {
    float: left;
    width: 100%;
    /*padding: 0;*/
}

.name_a {
    border: 1px solid #076f53;
    background: #076f53;
    text-decoration: none;
    color: #ffffff;
    padding: 3px 10px;
    width: 58%;
    border-radius: 13px;
    display: table;
    text-align: center;
    font-size: 16px;
    margin: auto;
}

.name_a:hover {
    text-decoration: none;
    color: #ffffff;
}

.header_phone {
    font-size: 18px;
}

.director_img {
    float: left;
    width: 100%;
}

.btnn {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 12px;
}

.background {
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background-image: url('../img/bg.png');*/
    background: #f1f1f1;
}

.padd {
    padding-top: 17px;
    width: 100%;
    padding-bottom: 17px
}

.main_news {
    padding-top: 10px;
}

.cont_right_main {
    float: left;
    width: 100%;
    margin: auto;
}

.carousel_content {
    float: left;
    width: 100%;
    padding: 0;
}

.cont_main {
    float: left;
    width: 100%;
    margin: auto;
}

.marqe_content {
    float: left;
    width: 100%;
    /*background: rgb(246, 246, 248);*/
    padding: 0;
    margin-top: 10px;
}

#login-form {
    font-family: 'Poppins', sans-serif;
}

input[type="text"] {
    width: 100%;
    outline: none !important;
}

.matrimonial_tit {
    float: left;
    width: 100%;
    background-image: url('../images/committee.jpg');
    background-size: cover;
    padding: 9px;
    font-family: 'Poppins', sans-serif;
}

.martimonial_card {
    margin-top: 9px;
    border: 1px solid #ae1412;
    height: 288px;
    border-radius: unset;
}

.matrimonial_title {
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.content_p {
    text-align: justify;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.about_content_right p {
    text-align: justify;
}

/*.bg_image_mar {
    background: #353f9d !important;
    float: left;
    width: 100%;
    color: #ffffff;
}*/

.bg_image_mar {
    float: left;
    width: 100%;
    color: #ffffff;
    background-image: url('../images/committee.jpg');
    background-size: contain;
    font-family: 'Poppins', sans-serif;
}

.mar_con {
    color: #4e5054;
}

.mrq_content {
    float: left;
    width: 100%;
    padding-left: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.mrq_content:hover {
    color: black;
    text-decoration: none;
}

.sec_detail {
    float: left;
    width: 100%;
}

.sec_content {
    float: left;
    width: 100%;
}

.content-1 {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.login_btn {
    float: left;
    width: 100%;
    display: flex;
    margin-top: 18px;
}

.log_in {
    float: left;
    width: 100%;
}

.forget {
    float: left;
    width: 100%;
}

.log_in_btn {
    text-decoration: none;
    border: 1px solid #ffd400;
    padding: 4px 16px;
    background: #ffd400;
    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    outline: none !important;
}

.log_in_btn:hover {
    text-decoration: none;
    color: black;
}


/*.contet_a {
    width: 100%;
    margin: auto;
    border: 1px solid #4e5054;
    padding: 10px 10px;
    font-size: 12px;
    background: #f6f6f8;
    display: table;
    color: #4e5054;
    border-radius: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif; sans-serif;
}*/

.contet_a {
    width: 100%;
    margin: auto;
    padding: 10px 10px;
    font-size: 13px;
    background-image: url('../images/committee.jpg');
    display: table;
    background-size: contain;
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.contet_a:hover {
    text-decoration: none;
    color: #ffffff;
}

.mahila_main {
    float: left;
    width: 100%;
}

.mahila_cont {
    float: left;
    width: 100%;
    border: 1px solid #4e5054;
    margin-top: 20px;
}

.mahila_head {
    float: left;
    width: 100%;
}

.panel.panel-primary {
    border: 1px solid #ac110f;
    /*box-shadow: 1px 0px 10px 1px;*/
}

.name {
    padding-left: 68px;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.title {
    background: #353f9d;
    color: #ffffff;
    padding: 10px 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.marque_p {
    font-size: 14px;
}

.gallery_sec {
    float: left;
    width: 100%;
    /*margin-top: 20px;*/
    margin: auto;
}

.gallery_main {
    float: left;
    width: 100%;
}

.gallery_img {
    max-width: 90%;
    border: 2px solid black;
    padding: 2px;
    margin: auto;
    display: table;
}

.gallery_p {
    font-size: 16px;
    text-align: center;
}

.gallery_sec_main {
    float: left;
    width: 100%;
}

.img_staff {
    max-width: 31%;
}

.bld {
    font-size: 20px;
    padding-top: 16px;
    color: #353f9d;
}

.same_width {
    max-width: 100%;
    border: 2px solid #4e5054;
    padding: 2px;
}

.gallery_sec_main {
    float: left;
    width: 100%;
    border: 1px solid #353f9d;
    padding-bottom: 18px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #ffffff !important;
    background-color: #2264ae;
    /*background-image: url('../img/bg-4.jpg');*/
}

#pills-home-tab {
    color: black;
    font-family: 'Poppins', sans-serif; sans-serif;
    padding: 4px 15px;
    font-size: 25px;
}

.head {
    font-size: 18px;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.mahila_content {
    padding-top: 15px;
    float: left;
    width: 100%;
    background: rgb(246, 246, 248);
    border-radius: 15px;
    padding-bottom: 30px;
}

.con_mahial_img {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.markhao_img {
    max-width: 100%;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #3a3f3e !important;
}

.clr {
    color: #4e5054;
    font-size: 25px;
}

.crd_mahila {
    border: 1px solid #ffffff;
    background: #ffffff;
    text-align: center;
    box-shadow: 1px 0px 10px 1px;
}

.mahila_crd_bdy {
    padding: 5px;
}

.mahila_crd_h5 {
    padding-top: 7px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.sangh_img {
    margin: auto;
    display: table;
}

.sangh_prakar {
    color: #076f53;
    font-size: 30px;
}

.con_mahial img {
    margin: auto;
    display: table;
}

.kendro_img {
    max-width: 72%;
    margin: auto;
}

.mahila_samakhy_kendro {
    margin: auto;
}

.Hind_Vadodara_fnt {
    font-family: 'Poppins', sans-serif; sans-serif;
}

.con_mahial p {
    font-family: 'Poppins', sans-serif; sans-serif;
    text-align: justify;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Poppins', sans-serif; sans-serif;
}

tr {
    font-family: 'Poppins', sans-serif; sans-serif;
}

td {
    vertical-align: middle !important;
}

#pills-profile-tab {
    color: black;
    font-family: 'Poppins', sans-serif; sans-serif;
    padding: 4px 15px;
    font-size: 25px;
}

.contact_us_section {
    float: left;
    width: 100%;
}

.contact_head h2 {
    font-size: 40px;
    color: #4e5054;
    font-family: 'Poppins', sans-serif; sans-serif;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #ffffff;
}


/*.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    background: #ffffff;
    color: #353f9d;
    padding: 9px 18px;
    transition: 0.5s;
}*/

.footer {
    float: left;
    width: 100%;
    padding-top: 55px;
}

.ftr_main {
    float: left;
    width: 100%;
}

.ftr_head {
    float: left;
    width: 100%;
}

.ftr_content {
    float: left;
    width: 100%;
}

.ftr_content ul li {
    list-style: none;
    margin-top: 3px;
    display: table;
}

.ftr_head h3 {
    color: #076f53;
    font-size: 22px;
}

.ftr_content_a {
    color: black;
    text-decoration: none;
}

.bg_ftr {
    float: left;
    width: 100%;
    background: #f1f1f1;
}

.ftr_end {
    float: left;
    width: 100%;
    /* background: #ebebeb; */
    background-image: url('../images/footerbg.jpg');
    padding-top: 5px;
    padding-bottom: 5px;
}

.ftr_p {
    margin: 2px;
    color: #ffffff;
    font-size: 14px;
}

.ftr_cont ul li {
    list-style: none;
    float: left;
    margin-right: 24px;
}

.ftr_cont ul li a {
    color: #ffffff;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.tbl_p {
    margin: 0;
}

.abt_bdc li {
    list-style: none;
    float: left;
    margin-right: 15px;
}

.abt_bdc {
    margin: auto;
    display: table;
    padding: 0;
}


/*.title_main {
    float: left;
    width: 100%;
    background: #b3b6d0;
    background: #353f9d;
    border-radius: 15px;
}*/


/*.title_main {
    float: left;
    width: 100%;
    background: gainsboro;
    border-radius: 15px;
}*/

.breadcrumb {
    background: transparent;
    padding: 0;
}

.bread_main {
    margin: auto;
    display: table;
}

.title_main_ {
    float: left;
    width: 100%;
    /*background: gainsboro;*/
    background: #353f9d;
}

#info {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 25px;
}

.news_p {
    margin: 0;
    font-size: 13px;
    text-align: justify;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.crd_body {
    padding: 10px;
}

.news_a {
    color: black;
    text-decoration: none;
}

.news_a:hover {
    text-decoration: none;
    color: black;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #353f9d;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #353f9d;
    color: #ffffff;
}

.pagination {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

.sec_pagination {
    margin-top: 20px;
}

.scrollbar {
    /* margin-left: 30px; */
    float: left;
    height: 380px;
    width: 335px;
    background: #ffffff;
    overflow-x: hidden;
    margin-bottom: 25px;
}

.nws_h2 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.main_r_ {
    float: left;
    width: 100%;
    margin-top: 8px;
}

.left_news_1 {
    float: left;
    width: 100%;
}

.right_news_1 {
    float: left;
    width: 100%;
}

.news_mini_h5 {
    font-size: 11px;
    text-align: justify;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.head_samakhya {
    float: left;
    width: 100%;
}

.main_head_news {
    float: left;
    width: 100%;
}

.main_r_ a {
    color: black;
    text-decoration: none;
}

.news_detail_p {
    text-align: justify;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.nws_det_p {
    padding-top: 15px;
}

.padd_border h2 {
    font-family: 'Poppins', sans-serif; sans-serif;
}

.breadcrumb-item.active {
    color: #ffffff;
}

.title_main h2 {
    color: #ffffff;
}

.title_main_ h2 {
    color: #ffffff;
}

.event_h2 {
    font-size: 17px;
    color: #353f9d;
}

.events_left {
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.events_right {
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.events_img {
    max-width: 75%;
    margin: auto;
    display: table;
}

.events_p {
    font-family: 'Poppins', sans-serif; sans-serif;
    text-align: justify;
    padding-top: 3px;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #353f9d;
    border-color: #353f9d;
    outline: none;
}


/*-----Derector_Content_CSS_End-----*/

#news-slider {
    margin-top: 80px;
}

.post-slide {
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}

.post-slide .post-img {
    position: relative;
    overflow: hidden;
    /*border-radius: 10px;
    margin: -12px 15px 8px 15px;
    margin-left: -10px;*/
}

.post-slide .post-img img {
    width: 100%;
    height: auto;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
}

.post-slide:hover .post-img img {
    transform: scale(1.1, 1.1);
}

.post-slide .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
    transition: all 0.50s linear;
}

.post-slide:hover .over-layer {
    opacity: 1;
    text-decoration: none;
}

.post-slide .over-layer i {
    position: relative;
    top: 45%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 25px;
}

.post-slide .post-content {
    background: #fff;
    padding: 2px 20px 20px;
    border-radius: 15px;
}

.post-slide .post-title a {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif; sans-serif;
    line-height: 25px;
}

.post-slide .post-title a:hover {
    text-decoration: none;
    color: #3498db;
}

.post-title {
    padding-top: 16px;
}

.post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.post-slide .post-date {
    color: #a9a9a9;
    font-size: 14px;
}

.post-slide .post-date i {
    font-size: 20px;
    margin-right: 8px;
    color: #CFDACE;
}

.post-slide .read-more {
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}

.post-slide .read-more:hover {
    background: #3498db;
    text-decoration: none;
    color: #fff;
}

.owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    top: -13%;
    left: 15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    top: -13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #333;
    font-size: 30px;
}

.owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
}

@media only screen and (max-width:1280px) {
    .post-slide .post-content {
        padding: 0px 15px 25px 15px;
    }
}


/*-----Members_Section_CSS_Start-----*/

.members_section {
    float: left;
    width: 100%;
}

.title_main {
    float: left;
    width: 100%;
    background-image: url('../images/lhead1.jpg');
    border-radius: 15px;
    background-size: cover;
}

.breadcrumb-item a {
    color: #ffd400;
}

.member_detail_left {
    float: left;
    width: 100%;
}

.image {
    float: left;
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

.member_detail_middle {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.member_detail_right {
    float: left;
    width: 100%;
}

.family_btn {
    background-image: url('../images/lhead2.jpg');
    background-size: cover;
    color: #ffffff;
    padding: 7px 11px;
    text-decoration: none;
}

.family_btn:hover {
    text-decoration: none;
    color: #ffffff;
}

.members_detail_p {
    margin: 0;
    font-size: 11px;
}

.members_details {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.members_details h4 {
    font-size: 15px;
    font-weight: 700;
}

.profile_id {
    font-size: 10px;
}

.member_image {
    max-width: 43%;
}

.breadcrumb-item a {
    text-decoration: none;
}


/*-----Members_Section_CSS_End-----*/


/*-----LogIn_Page_CSS_Start-----*/

.log_in_page {
    float: left;
    width: 100%;
}

.lgin_a {
    text-decoration: none;
    background-image: url('../images/lhead1.jpg');
    color: #ffffff;
    padding: 6px 20px;
}

.lgin_a:hover {
    color: #ffffff;
    text-decoration: none;
}

.forget_user_name {
    float: left;
    background: #ad1311;
    color: #ffff;
    margin-top: 28px;
    padding: 7px 15px;
    text-align: center;
}

.forget_user_name h5 {
    margin: 0;
}

.content_forget {
    float: left;
    width: 100%;
}

.content_forget p {
    font-family: 'Poppins', sans-serif; sans-serif;
    padding-top: 10px;
}

.log_in_page p {
    font-family: 'Poppins', sans-serif; sans-serif;
    padding-top: 10px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    font-family: 'Poppins', sans-serif; sans-serif;
    border: 0;
}

.padding {
    float: left;
    width: 100%;
    padding-top: 15px;
    background: #ffffff;
    border-radius: 10px;
}

.committee_img {
    height: 100px;
    max-width: 50%;
    margin: auto;
}

.committee_card {
    border: none;
    text-align: center;
}

.events_main {
    float: left;
    width: 100%;
    background: #ffffff;
    border-radius: 15px;
    margin: auto;
}

.events_left_content {
    float: left;
    width: 100%;
}

.events_right_content {
    float: left;
    width: 100%;
}

.committee_img_ {
    max-width: 70%;
    margin: auto;
    display: table;
}

.contact_main {
    margin: auto;
}

.contact_us_main {
    float: left;
    width: 100%;
    margin: auto;
}

.contact_details {
    float: left;
    background: #bd110f;
    color: #ffffff;
    border-radius: 0px 20px 0px 20px;
    padding: 10px 17px;
}

.contact_details h5 {
    margin: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #f1f1f1 !important;
    content: "/";
}
.cont_content {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.about_section_main {
    float: left;
    width: 100%;
    margin: auto;
}

.about_sec_left {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.about_sec_right {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.about_content_left img {
    max-width: 100%;
    margin: auto;
    display: table;
}

.family_p {
    padding-top: 6px;
    margin: 0;
    padding-bottom: 0px;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.otp_main {
    margin-top: 13px;
}

.otp {
    text-decoration: none;
    background-image: url('../images/lhead1.jpg');
    color: #ffffff;
    padding: 6px 20px;
}

.otp:hover {
    text-decoration: none;
    color: #ffffff;
}

.footer_ul {
    margin: auto;
    display: table;
}

.footer_end {
    float: left;
    width: 100%;
    text-align: center;
}

.footer_left {
    float: left;
    width: 100%;
    color: #ffffff
}

.footer_right {
    float: left;
    width: 23%;
    color: #ffffff
}

.footer_right p a {
    color: #ffffff;
}

.footer_left p {
    margin: 0;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.footer_right p {
    margin: 0;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.header_name {
    text-decoration: none;
    color: #353f9d;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.header_name:hover {
    text-decoration: none;
    color: #353f9d;
}

.nav_right_img {
    margin: auto;
    display: table;
}

.footer_end p {
    margin: 0;
    color: #ffd400;
    font-family: 'Poppins', sans-serif;
}

.text-white {
    color: #000000!important;
}
.crd_nws_img {
    max-width: 61%;
    margin: auto;
}

.crd_nws_a {
    text-decoration: none;
    color: black;
}

.crd_nws_a:hover {
    text-decoration: none;
    color: black;
}

.bg {
    background: #ffffff;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
}

.news_details_content {
    float: left;
    width: 100%;
}

.news_details_content p {
    text-align: justify;
    font-family: 'Poppins', sans-serif; sans-serif;
}

.padddi {
    margin-top: 30px;
}

.table_member {
    margin: auto;
    width: 100%;
    float: left;
}

.boyes_card {
    border: 2px solid #2264ae;
}

.boyes_card_image {
    max-width: 55%;
    margin: auto;
    padding-top: 10px;
}

.crd_name {
    font-size: 13px;
    font-weight: 500;
}

.crd_strong {
    font-size: 14px;
}

.boyes_card_body {
    padding: 6px;
    padding-left: 10px;
}

#pills-tab li {
    margin-right: 10px;
}

.boys_main {
    margin: auto;
}

.main_boys {
    margin: auto;
}

.crd_nws_img {
    margin-top: 10px;
}

.logo {
    margin-top: 10px;
}


/*-----LogIn_Page_CSS_End-----*/

.tree * {
    margin:0;
    padding: 0;
}
.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}


/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}


/*We need to remove left-right connectors from elements without 
any siblings*/

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}


/*Remove space from the top of single children*/

.tree li:only-child {
    padding-top: 0;
}


/*Remove left connector from first child and 
right connector from last child*/

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}


/*Adding back the vertical connector to the last nodes*/

.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}


/*Time to add downward connectors from parents*/

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}


/*Time for some hover effects*/


/*We will apply the hover effect the the lineage of the element also*/

.tree li a:hover,
.tree li a:hover+ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}


/*Connector styles on hover*/

.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card button:hover, a:hover {
  opacity: 0.7;
}